# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Ensure diffs and shell scripts have LF endings
*.diff text eol=lf
*.sh text eol=lf
*.bat text eol=crlf

# Ensure lottie animations are treated as binary files
*.lottie binary
